h1 {
    color: red;
    font-size: 48px;
    text-decoration: overline;
}

#headings {
    background-color: aquamarine;
}

.maintext {
    color: darkorange;
}

.bigText {
    font-size: 60px;
}

#imageContainer {
    width: 100%;
    border: solid green 15px;
    width: 50%;
}

img {
    border-color: brown;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;

    /* border: 3px solid red; (is the same of the first 3 lines)*/ 

}